body { background-color: #eec; color: #000;
	font-family: sans-serif; }
h1 { border-bottom: solid thick #31b531; font-size: 2em; }
form { border: solid thin black;
	background-color: white;
	padding: 0.5em; display: table; }
form p { margin: 0; padding: 0.2em; }
input[type="text"] { width: 20em; margin-right: 0.4em; }
code { background-color: #fff; }
.warning { font-weight: bold; color: #f70; }
.error { font-weight: bold; color: #f00; }
.ok { color: #31b531; }
ul ul { margin-bottom: 1em; }
.cc { color: #888; font-size: small; }
